.grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
}

html {
    background-image: url("patterned_background.jpeg");
}


article section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5em;
}



body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Full-width input fields */
input {
    /* float: inline-start; */
    width: 100%;
    /* text-align: left; */
}

/* Set a style for all buttons */
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.submitbtn {
    float: inline-start;
    width: 50%;
}


.container {
    padding-bottom: 60px;
    padding-left: 16px;
    padding-right: 16px;
}


/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {

    .cancelbtn {
        width: 100%;
    }
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    border-bottom: #000;

}

th td {
    padding: 12px 15px;
    text-align: center;
}

td {
    text-align: center;

}

input[type="text"] {
    text-align: left;
    margin: auto;
    /* display: flex; */
    /* center checkbox horizontally */
    vertical-align: middle;
    /* center checkbox vertically */
}


.removebttn {
    text-align: center;
    display: flex;
    margin: auto;
    /* center checkbox horizontally */
    align-self: center;
    vertical-align: middle;
    background-color: #f44336;
    /* center checkbox vertically */
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:nth-of-type(odd) {
    background-color: rgba(215, 215, 215, 0.541);
}

tbody tr:last-of-type {
    border-bottom: 2px solid black;
}
