.grid {
    /* margin: 0 auto; */
    /* padding: 0 20px; */
    /* max-width: 90%; */
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
}


.admin-area {
    display: grid;
    width: 25%;
    gap: 1em;
}

html {
    background-image: url("patterned_background.jpeg");
}

.page_top {
    display: inline-grid;

    grid-template-columns: 3fr 5em;
}

.page_top .auth-button {
    /* position: right; */
    /* min-height:1px; */
    height: fit-content;
    width: fit-content;
}

article section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5em;
}


.aside-buttons {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-grid;
}

/* Full-width input fields */
input {
    display: inline-grid;
    width: 98%;
    text-align: left;
}

/* Set a style for all buttons */


button:hover {
    opacity: 1;
}


/* Set a style for all buttons */
button {
    background-color: #04AA6D;
    display: grid;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: transparent;
    cursor: pointer;
    /* width: 100%; */
    opacity: 0.9;
}

.container {
    padding-bottom: 60px;
    padding-left: 16px;
    padding-right: 16px;
}

.removebttn {
    background-color: #f44336;
}


/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

.clearfix {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    width: 100%;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Extra styles for the cancel button */
.cancelbtn {
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */


.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {

    .cancelbtn {
        width: 100%;
    }
}



td,
th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white
}
